.global-nav li, .topnavbar li, .product-1{
list-style:none;
display:inline;
padding-right:20px;
}

.social-links a{
display:block;
height:20px;
width:20px;
}

a:link{
font-family:Verdana;
text-decoration:none;
color:#303030;
}

a:visited{
color:#303030;
}

li a:hover{
color:red;
cursor:pointer;
}

a, img {
border:none;
}


-----------------------------SHOPPING NAV------------------------------------------------------------
body{
margin:0;
padding:0;
display:block;


}

#wrapper{
max-width:100%;
height:500px;

}

#site{
background-color:#blue;
width:100%!important;
max-width:100%;
position:absolute;
top:0;
left:0;
font-size:80%;
letter-spacing:1px;
margin:0 auto;
overflow-y:scroll;
overflow-x:hidden;
min-height:100%;
display:block;
padding:0;

}

.topnavbar{
background-color:#orange;
height:30px;
width:50%;
position:relative;
float:right;
padding:5px;
margin:5px;
display:block;
font-size:9px;
font-family:Verdana;
letter-spacing:1px;
color:#303030;
}

.shopping{
display:block;
height:30px;
width:800px;
float:right;
}

ul.shopping-utilities{
background-color:#green;
float:right;
position:relative;
}

form .textbox{
float:right;
margin:3px 5px 0 0;
padding-top:3px;
display:block;
}

form .button{
float:right;
padding-top:5px;
padding-right:15px;
display:block;
}


#container{
margin:30px;
background-color:#LightSlateGray;
position:absolute;
width:100%;
margin:auto;
height:100%;
top:50px;
}

.shared_header{
background-color:#green;
padding:15px;
width:100%;
height:190px;
position:relative;

}

h1{
border-style:none;
position:relative;
width:38%;
height:137px;

}

.logo{
background-repeat:no-repeat;
position:relative;
margin:auto;
bottom:20px;
padding:5px;
width:397px;
}

.global-nav{
background-color:#purple;
width:800px;
height:15px;
padding:5px;
position:relative;
margin:auto;
bottom:10px;
}

.global-nav ul li ul li{
display:none;
}

.global-nav li:hover ul li{
background-color:white;
display:block;
padding:15px;
width:155px;
height:15px;
position:relative;
right:40px;
top:5px;
float:left;
z-index:100;
opacity:0.8;
}

ul.nav-links{
background-color:#orange;
font-family:Verdana;
width:100%;
height:15px;
font-size:15px;
float:left;
margin:auto;
display:inline;
padding:0;
}

.jewelry-nav li:hover ul li{
background-color:white;
display:block;
padding:15px 10px 30px;
width:145px;
height:15px;
position:relative;
left:99px;
bottom:45px;
float:left;
z-index:9000;
opacity:0.8;
}

ul.sub-nav-links{
width:130px;
color:#303030;
}

ul.sub-nav-links a:hover{
width:130px;
color:red;
}

ul.sub-nav-links a{
width:130px;
color:#303030;
}

li.nav-item{
width:20%;
padding:0px;
float:left;
position:relative;
background-color:#blue;

}


.main-content{
background-color:red;
position:relative;
margin:auto;
height:501px;
max-height:100%;
width:1328px;
bottom:10px;
}

#bottomcontent{
background-color:#blue;
position:absolute;
top:750px;
height:109px;
width:100%;
padding:5px;
}

.bottom-nav{
background-color:#orange;
width:560px;
height:20px;
position:relative;
display:block;
top:40px;
font-size:9px;
margin:auto;
padding:5px;
font-family:Verdana;
color:#303030;
}

.bottom-nav ul{
background-color:#pink;
width:602px;
height:15px;
position:relative;
display:block;
top:2px;
margin:auto;
padding:0;
}

.bottom-nav li{
list-style:none;
display:inline;
padding:0 10px 0 15px;
margin:auto;

}

.social-links{
height:25px;
width:300px;
position:relative;
left:10px;
margin:auto;
top:26px;
display:block;
}

.social-buttons{
background-color:#blue;
position:relative;
margin-top:20px;
margin-left:0px;
height:25px;
width:230px;
}

.social-links ul li{
float:left;
margin-right:12px;
width:20px;
height:20px;
background-color:#red;
text-decoration:none;
display:inline-block;
}

.jewelry-window{
background-color:#green;
width:100%;
height:100%;
margin:auto;
position:relative;
}

.jewelry-nav{
background-color:white;
width:180px;
height:98.1%;
position:relative;
float:left;
margin-left:0;
top:5px;
}

.jewelry-nav ul li ul li{
display:none;
}


ul.jewelry-nav-links{
font-family:Verdana;
font-size:12px;
position:relative;
line-height:30px;
top:10px;
left:-8%;
}

li.jewelry-nav-item{
display:block;
width:180px;
height:30px;
padding:15px;
float:left;
}

.jewelry-nav-item-a{
padding-right:40px;
}

.product-list-nav{
background-color:black;
width:86.5%;
height:98%;
position:relative;
left:180px;
top:5px;
}

.product-items{
background-color:white;
width:100%;
height:100%;
float:left;
bottom:491px;
position:relative;
overflow-y:scroll;
overflow-x:hidden;
}

.product-items-black{
background-color:black;
width:100%;
height:100%;
float:left;
bottom:490px;
position:relative;
overflow-y:scroll;
overflow-x:hidden;
}

.product-1{
padding:30px;
background-color:#red;
float:left;
width:19.5%;
height:300px;
}

.nav-1{

background-color:#white;
position:relative;
float:left;
margin:0 75px 0 -60px;
bottom:90px;
width:170px;
height:320px;
display:block;
}

.nav-2{

background-color:#white;
position:relative;
float:left;
margin:0 75px 0 -60px;
bottom:90px;
width:290px;
height:320px;
display:block;
}

.nav-group-name li{
list-style:none;
position:relative;
float:left;
margin:0 0 0 -60px;
bottom:65px;
padding:0 75px 0 0;
display:block;
z-index:500;
}

.nav-group-name-2 li{
list-style:none;
position:relative;
float:left;
bottom:65px;
padding:0 135px 0 0;
display:block;
z-index:500;
}

.product-info{
background-color:red;
display:block;
height:300px;
width:220px;
position:relative;
bottom:319px;
opacity:0.0;
-moz-box-sizing:border-box;
}

.product-info:hover{
background-color:white;
display:block;
height:300px;
width:220px;
position:relative;
bottom:319px;
opacity:0.7;
-moz-box-sizing:border-box;
}

.item-details-black{
background-color:black;
width:100%;
height:100%;
float:left;
bottom:491px;
position:relative;
overflow:hidden;

}

.item-details{
background-color:white;
width:100%;
height:100%;
float:left;
bottom:491px;
position:relative;
overflow:hidden;

}

.item-details li{
list-style:none;
}

.item-image{
background-color:#green;
width:42%;
height:97%;
padding:8px;
position:relative;
float:left;
}

.item-image-box{
background-color:#gray;
height:100%;
width:70%;
position:relative;
float:left;
}

.item-image-box-alternates{
background-color:#gray;
height:100%;
width:21%;
position:relative;
float:right;
}

.item-info{
background-color:#orange;
height:97%;
width:55.2%;
padding:8px;
position:relative;
float:left;
}


.item-info-button{
background-color:#white;
height:90%;
width:90%;
padding:20px;
position:relative;
margin:auto;

}

.item-info-form{
background-color:#red;
position:relative;
float:left;
padding:0 0 5px 12px;

}

.item-image-box-alternates-thumb{
height:90px;
width:70px;
position:relative;
padding:0;
margin:20px 0 0 0;
border-style:solid;
border-width:1px;
border-color:red;
}

.item-image-box-alternate{
background-color:#black;
display:block;
height:90px;
width:70px;
opacity:0.8;
position:relative;
bottom:94px;

}

h4{
padding:10px;
margin:15px;
font-family:helvetica;
font-weight:normal;
font-size:12px;
color:#303030;
text-align:center;
}

.content-frame{
background-color:white;
height:98%;
position:relative;
top:6px;
}

.content-interior{
background-color:#blue;
width:100%;
height:100%;
position:relative;
margin:auto;
top:0px;
overflow-y:scroll;
overflow-x:hidden;
}

h2{
font-family:NewCicleFina;
font-weight:normal;
font-size:32pt;
color:red;
letter-spacing:3px;
padding:10px;
}

.section-title{
height:60px;
position:relative;
}

.section-nav{
background-color:#pink;
width:92%;
height:50%;
padding:0;
position:relative;
margin:0 0 0 55px;
top:160px;
}


h3{
font-family:Verdana;
font-weight:normal;
font-size:12pt;
color:#303030;
padding-left:10px;
}


p{
font-family:Verdana;
font-size:10pt;
color:#303030;
padding-left:10px;
line-height:20px;
}

.content-frame-inner{
background-color:#blue;
width:100%;
height:100%;
position:relative;
margin:auto;
overflow-y:scroll;
overflow-x:hidden;
}

.content-press-wrapper{
background-color:white;
height:100%;
width:97%;
margin:auto;
position:relative;
}

.pressnav{
width:150px;
position:absolute;
height:100%;
background-color:#green;
float:left;
}

#press-wrapper-window{
position:absolute;
width:100%;
height:100%
}

.pressmedia{
background-color:#black;
position:absolute;
height:100%;
width:1159px;
margin:0 0 0 150px;
overflow:hidden;
}

.magazine-layout{
background-color:#purple;
position:relative;
float:left;
height:100%;
width:100%;
display:block;
}

.video-layout{
background-color:#red;
position:relative;
float:left;
height:100%;
width:100%;
display:block;
}

.web-layout{
background-color:#orange;
position:relative;
float:left;
height:100%;
width:100%;
display:block;
}

.celebrities-layout{
background-color:#yellow;
position:relative;
float:left;
height:100%;
width:100%;
display:block;
}

.press-nav ul li ul li{
display:none;
}


ul.press-nav-links{
font-family:Verdana;
font-size:12px;
position:relative;
line-height:30px;
top:10px;
left:-11%;
}

li.press-nav-item{
display:block;
width:180px;
height:30px;
padding:0 0 30px 0;
float:left;
}

.press-nav-item-magazine{
padding-right:40px;
}
.press-nav-item-video{
padding-right:40px;
}
.press-nav-item-web{
padding-right:40px;
}
.press-nav-item-celebrities{
padding-right:40px;
}

dt{
font-family:Verdana;
font-size:10pt;
color:#303030;
}

.slideshow img{
width:80%;
height:80%;
}

span{
color:red;
}

.content-interior-about{
background-color:#blue;
width:66%;
height:100%;
position:absolute;
float:left;
margin-left:450px;
overflow-y:scroll;
}

.content-interior-events{
background-color:#blue;
width:500px;
height:460px;
position:relative;
float:left;

top:50px;
overflow:hidden;
}

.photo-block{
position:relative;
float:left;
width:409px;
height:100%;
overflow:hidden;
}

.photo-block2{
position:relative;
float:right;
width:800px;
height:100%;
overflow:hidden;
}


.slideshow{
background-color:gray;
width:100%;
height:100%;


}

.slideshow-1{
background-color:000;
position:absolute;
width:416px;
height:614px;
overflow:hidden;
margin-top:0px;
}


.slideshow-2{
background-color:555;
position:absolute;
margin-left:332px;
width:416px;
height:614px;
margin-top:0px;
overflow:hidden;
}


.slideshow-3{
background-color:999;
position:absolute;
margin-left:664px;
width:416px;
height:614px;
margin-top:0px;
overflow:hidden;
}


.slideshow-4{
background-color:ccc;
position:absolute;
margin-left:996px;
width:416px;
height:614px;
margin-top:0px;
overflow:hidden;
}

.bxslider{
width:100%;
height:100%;
margin: auto; 
}
