.global-nav li, .topnavbar li, .product-1{
list-style:none;
display:inline;
padding-right:20px;
}

.social-links a{
display:block;
height:20px;
width:20px;
}

a:link{
text-decoration:none;
color:DimGray;
}

a:visited{
color:DimGray;
}

li a:hover{
color:red;
}

a, img {
border:none;
}

-----------------------------SHOPPING NAV------------------------------------------------------------
body{
margin:0;
padding:0;
display:block;


}

#wrapper{
max-width:100%;
height:500px;

}

#site{
background-color:#blue;
width:100%!important;
max-width:100%;
position:absolute;
top:0;
left:0;
font-size:80%;
letter-spacing:1px;
margin:0 auto;
overflow-y:scroll;
overflow-x:hidden;
min-height:100%;
display:block;
padding:0;
}

.topnavbar{
background-color:#orange;
height:30px;
width:50%;
position:relative;
float:right;
padding:5px;
margin:5px;
display:block;
font-size:9px;
font-family:Verdana;
letter-spacing:1px;
color:DimGray;
}

.shopping{
display:block;
height:30px;
width:800px;
float:right;
}

ul.shopping-utilities{
background-color:#green;
float:right;
position:relative;
}

form .textbox{
float:right;
margin-top:3px;
padding-top:3px;
padding-right:15px;
display:block;
}

form .button{
float:right;
padding-top:5px;
padding-right:15px;
display:block;
}


#container{
margin:30px;
background-color:#LightSlateGray;
position:absolute;
width:100%;
margin:auto;
top:50px;
}

.shared_header{
background-color:#green;
padding:15px;
width:100%;
height:190px;
position:relative;

}

h1{
border-style:none;
position:relative;
width:38%;
height:137px;

}

.logo{
background-repeat:no-repeat;
position:relative;
margin:auto;
bottom:20px;
padding:5px;
width:397px;
}

.global-nav{
background-color:#purple;
width:800px;
height:15px;
padding:5px;
position:relative;
margin:auto;
bottom:10px;
}

.global-nav ul li ul li{
display:none;
}

.global-nav li:hover ul li{
background-color:red;
display:block;
padding:15px;
width:145px;
height:15px;
position:relative;
right:40px;
top:5px;
float:left;
z-index:100;
opacity:0.8;
}

ul.nav-links{
background-color:#orange;
font-family:Verdana;
width:100%;
height:15px;
font-size:15px;
float:left;
margin:auto;
display:inline;
padding:0;
}

.jewelry-nav li:hover ul li{
display:block;
padding:15px 10px 30px;
width:145px;
height:15px;
position:relative;
left:99px;
bottom:45px;
float:left;
z-index:100;
opacity:0.8;
}

ul.sub-nav-links{
width:130px;
color:white;
}

ul.sub-nav-links a:hover{
width:130px;
color:white;
}

ul.sub-nav-links a{
width:130px;
color:white;
}

li.nav-item{
width:20%;
padding:0px;
float:left;
position:relative;
background-color:#blue;

}


.main-content{
background-color:red;
position:relative;
margin-top:5px;
height:624px;
max-height:100%;
max-width:100%;
bottom:30px;
}

#bottomcontent{
background-color:#blue;
position:absolute;
top:840px;
height:109px;
width:100%;
padding:5px;
}

.bottom-nav{
background-color:#orange;
width:560px;
height:20px;
position:relative;
display:block;
top:40px;
font-size:9px;
margin:auto;
padding:5px;
font-family:Verdana;
color:DimGray;
}

.bottom-nav ul{
background-color:#pink;
width:532px;
height:15px;
position:relative;
display:block;
top:2px;
margin:auto;
padding:0;
}

.bottom-nav li{
list-style:none;
display:inline;
padding:0 10px 0 10px;
margin:auto;

}

.social-links{
height:25px;
width:300px;
position:relative;
left:10px;
margin:auto;
top:26px;
display:block;
}

.social-buttons{
background-color:#blue;
position:relative;
margin-top:20px;
margin-left:0px;
height:25px;
width:230px;
}

.social-links ul li{
float:left;
margin-right:12px;
width:20px;
height:20px;
background-color:#red;
text-decoration:none;
display:inline-block;
}

.jewelry-window{
background-color:#green;
width:100%;
height:100%;
margin:auto;
position:relative;
}

.jewelry-nav{
background-color:white;
width:180px;
height:98.4%;
position:relative;
float:left;
margin-left:0;
top:5px;
}

.jewelry-nav ul li ul li{
display:none;
}


ul.jewelry-nav-links{
font-family:Verdana;
font-size:12px;
position:relative;
line-height:30px;
top:10px;
left:-8%;
}

li.jewelry-nav-item{
display:block;
width:180px;
height:30px;
padding:15px;
float:left;
}

.jewelry-nav-item-a{
padding-right:40px;
}

.product-list-nav{
background-color:white;
width:95%;
height:98.4%;
position:relative;
left:180px;
top:5px;
}

.product-items{
background-color:white;
width:100%;
height:100%;
float:left;
bottom:614px;
position:relative;
overflow-y:scroll;
overflow-x:hidden;
}

 .product-1{
padding:30px;
background-color:#red;
float:left;
width:19.5%;
height:300px;
}



.product-info{
background-color:red;
display:block;
height:300px;
width:220px;
position:relative;
bottom:319px;
opacity:0.0;
-moz-box-sizing:border-box;
}

.product-info:hover{
background-color:red;
display:block;
height:300px;
width:220px;
position:relative;
bottom:319px;
opacity:0.7;
-moz-box-sizing:border-box;
}

h4{
padding:10px;
margin:15px;
font-family:helvetica;
font-weight:normal;
font-size:20px;
color:white;
}

.content-frame{
background-color:white;
max-height:100%;
height:98.3%;
position:relative;
top:6px;
}

.content-interior{
background-color:#blue;
width:80%;
height:84%;
position:relative;
margin:auto;
top:50px;
overflow-y:scroll;
overflow-x:hidden;
}

h2{
font-family:Verdana;
font-weight:normal;
font-size:22pt;
color:red;
padding:10px;
}

.section-title{
height:60px;
position:relative;
}

h3{
font-family:Verdana;
font-weight:normal;
font-size:12pt;
color:DimGray;
padding-left:10px;
}

p{
font-family:Verdana;
font-size:10pt;
color:DimGray;
padding-left:10px;
line-height:20px;
}

.content-frame-inner{
background-color:#blue;
width:80%;
height:84%;
position:relative;
margin:auto;
top:50px;
overflow-y:scroll;
overflow-x:hidden;
}

.content-press-wrapper{
background-color:white;
height:95%;
width:97%;
margin:auto;
top:15px;
position:relative;
}

.pressnav{
width:214px;
position:relative;
height:100%;
background-color:green;
float:left;
}

.pressmedia{
background-color:yellow;
position:relative;
height:100%;
width:1380px;
float:left;

}

dt{
font-family:Verdana;
font-size:10pt;
color:DimGray;
}

span{
color:red;
}

.content-interior-about{
background-color:#blue;
width:70%;
height:82%;
position:relative;
float:left;
margin-left:70px;
top:50px;
overflow:hidden;
}

.content-interior-events{
background-color:#blue;
width:500px;
height:460px;
position:relative;
float:left;
margin-left:70px;
top:50px;
overflow:hidden;
}

.photo-block{
background-color:pink;
position:relative;
float:right;
width:22.4%;
height:60%;
}

.photo-block2{
position:absolute;
left:66%;
width:573px;
height:560px;
}


.slideshow{
background-color:#gray;
width:100%;
height:100%;

}

.slideshow-1{
background-color:000;
position:absolute;
width:416px;
height:614px;
margin-top:0px;
}


.slideshow-2{
background-color:555;
position:absolute;
margin-left:416px;
width:416px;
height:614px;
margin-top:0px;
}


.slideshow-3{
background-color:999;
position:absolute;
margin-left:832px;
width:416px;
height:614px;
margin-top:0px;
}


.slideshow-4{
background-color:ccc;
position:absolute;
margin-left:1248px;
width:416px;
height:614px;
margin-top:0px;
}

